# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{ts,js,html}]
indent_size = 2

[*.json]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.php]
indent_size = 4

[*.sh]
indent_size = 4

[*.xml{,.dist}]
indent_size = 4

[*.{yaml,yml}]
indent_size = 4
trim_trailing_whitespace = false

[api/helm/api/**.yaml]
indent_size = 2

[.github/workflows/*.yml]
indent_size = 2

[.gitmodules]
indent_size = 4

[.php_cs{,.dist}]
indent_size = 4

[.travis.yml]
indent_size = 2

[*.composer.json]
indent_size = 4

[docker/docker-compose{,.*}.{yaml,yml}]
indent_size = 2

[docker/Dockerfile]
indent_size = 4
